.profile-wrap {
  width: 70%;
  height: 42rem;

  background-color: rgba(252, 241, 224, 0.8);

  margin: 1rem auto;

  border-radius: 3rem;
  border: none;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.header-text {
  color: var(--darkest-green);

  margin-top: 3rem;
}

.profile-main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 1rem;
  margin: 1rem auto 0;

  width: 80%;
}

.profile-left {
  width: 20rem;
  min-width: 15rem;
}

.profile-img {
  width: 100%;
  max-height: 25rem;

  margin: 1rem 0;

  cursor: pointer;
}

.profile-img:hover {
  opacity: 0.8;

  transition: 0.4s;
}

.chooseImg {
  display: none;
}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  min-width: 16rem;
}

.profile-ul {
  display: flex;

  margin-top: 2rem;
}

.profile-info,
.profile-info-input-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  margin: 1%;
}

.profile-info-li {
  margin: 1rem;
  margin-right: 2rem;

  font-size: 1.2rem;
  font-weight: 800;
}

.profile-info-input-li {
  margin: 0.6rem;

  width: 100%;
}

.profile-info-li,
.profile-info-input-li {
  white-space: nowrap;
}

.profile-info-input,
.profile-info-sex {
  width: 100%;
  height: 1.9rem;

  border: none;
  border-bottom: solid 1px var(--middle-green);

  background-color: #00ff0000;

  font-size: 1rem;
}

.profile-info-sex:focus {
  outline: none;
}

.profile-info-input:focus {
  outline: none;

  border-bottom: solid 3.5px var(--middle-green);

  transition: 0.3s;
}

.add-btn {
  width: 27%;
  max-width: 10rem;
  height: 9%;

  border-radius: 1rem;
  border-style: none;

  color: var(--darkest-green);
  font-size: 1.5rem;
  font-weight: 600;

  background-color: var(--bright-green);

  cursor: pointer;

  margin: 2rem auto;
}

.add-btn:hover {
  background-color: var(--middle-green);

  color: var(--bright-green);

  transition: 0.4s;
}

@media (max-width: 768px) {
  .profile-wrap {
    width: 90%;
    height: auto;
  }

  .profile-top-text {
    font-size: 1.7rem;
  }

  .profile-main {
    flex-direction: column;
    align-items: center;
  }

  .profile-left,
  .profile-right {
    padding: 1rem;
  }

  .profile-right {
    width: 80%;
  }

  .profile-img {
    width: 14rem;
  }

  .profile-info-li {
    margin: 1.1rem;
    margin-right: 2rem;

    text-align: center;

    font-size: 1rem;
    font-weight: 800;
  }

  .add-btn {
    max-width: 8rem;
    height: 3rem;

    bottom: 1rem;

    font-size: 1.3rem;
  }
}
