.main {
  width: 90%;
  height: auto;

  background-color: #fcf1e0;

  border-radius: 2rem;

  display: inline-block;

  margin: 0 5% 4rem;
}

.main-wrap {
  padding: 4rem;
}

.main-top {
  width: 20rem;
}

.main-top-text {
  margin-bottom: 2.5rem;

  color: var(--middle-green);
  font-size: 2rem;
}

.add-button {
  width: 13rem;
  height: 3rem;

  border-radius: 1rem;
  border-style: none;

  color: var(--darkest-green);
  font-size: 1rem;
  font-weight: bold;

  background-color: var(--bright-green);

  cursor: pointer;
}

.add-button:hover,
.delete-button:hover {
  background-color: var(--middle-green);

  color: var(--bright-green);

  transition: 0.4s;
}

.main-middle {
  margin-top: 2.5rem;
}

.main-middle-header {
  margin-bottom: 3rem;
}

.main-middle-hr {
  border: solid 0.12rem var(--darkest-green);
}

.villagers-info {
  margin: 0 auto;
}

.main-middle-header .villagers-info-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 1rem 0;
}

.villagers-info-li {
  font-size: 1.1rem;
  font-weight: 600;

  margin: 0 1rem;
}

.noVillager-message {
  color: var(--middle-green);
  text-align: center;

  margin: 4rem;
  margin-top: 6rem;
}

.villagers-list {
  width: 100%;
  margin: 0 auto;
}

.villager {
  width: 100%;
  height: 15%;

  margin: 3rem auto;

  border-radius: 1.5rem;
  border-style: none;

  background-color: #fdf6e8;

  cursor: pointer;

  color: var(--bright-green);

  transition:
    background-color 0.4s,
    transform 1.9s;
  transform-origin: center;

  display: flex;
  flex-direction: column;
}

.villager:hover {
  transition: 0.4s;

  background-color: #ebedae;

  transform: scale(0.98);
}

.villager .villager-info-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  margin: 2rem 0 auto;
}

.villager-info-li-img {
  width: 6rem;
  height: 8rem;

  padding: 1rem;

  display: flex;
  justify-content: center;
}

.villager-img {
  object-fit: contain;
}

.villager-info-li {
  font-size: 1.2rem;
  font-weight: 600;
}

.delete-villager {
  display: flex;
  justify-content: right;
}

.delete-button {
  width: 6rem;
  height: 2.5rem;

  border-radius: 0.7rem;
  border-style: none;

  color: var(--darkest-green);
  font-weight: 600;
  font-size: 0.85rem;

  background-color: var(--bright-green);

  cursor: pointer;

  margin-right: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .main {
    margin: 2rem 5%;
  }

  .main-wrap {
    padding: 3rem;
  }

  .main-top-text {
    font-size: 2rem;
  }

  .add-button,
  .delete-button {
    width: 100%;
    max-width: 7rem;

    margin-right: 2rem;
  }

  .add-button {
    width: 100%;
    max-width: 12rem;

    font-size: 1rem;
  }

  .main-middle {
    margin-top: 2rem;
  }

  .main-middle-hr {
    margin: 0 0.5rem;
  }

  .villagers-info-ul {
    flex-direction: column;
  }

  .noVillager-message {
    font-size: 1.2rem;

    margin: 1rem;
  }

  .villagers-info-li {
    margin: 0.5rem 0;
  }

  .villager {
    height: 15%;

    margin: 3rem auto;
  }

  .villager .villager-info-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;
  }

  .delete-villager {
    justify-content: flex-end;
  }

  .villager .villager-img {
    width: 6rem;
  }

  .villager-info-li {
    margin-top: 1rem;
  }
}
